.main h1{
    position: relative;
    top: -7rem;
    right: 8rem;
    font-size: 3.5rem;
    font-weight: bold;
}

.main p{
    position: relative;
    top: -7rem;
    right: 8rem;
}

.main button{
    position: relative;
    right: 14rem;
    bottom: 7rem;
    font-size: 1.2rem;
    padding: 0.8rem;
}

.testimonal-left{
    box-sizing: border-box;
    position: relative;
}

.testimonal-left img:nth-child(1){
    position: relative;
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
}

.testimonal-left img{
    position: absolute;
    border: 1px dashed blue;
    padding: 5px;
    border-radius: 10px;
}

.testimonal-left img:nth-child(2){
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
}

.testimonal-left img:nth-child(3){
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}


.testimonal-right{
    box-sizing: border-box;
    position: relative;
}

.testimonal-right img:nth-child(1){
    position: relative;
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
}

.testimonal-right img{
    position: absolute;
    border: 1px dashed blue;
    padding: 5px;
    border-radius: 10px;
}

.testimonal-right img:nth-child(2){
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
}

.testimonal-right img:nth-child(3){
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}

.footer{
    color: white;
    background-color: #15233C;
}

